@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root {
    --primary: #1aa5a3;
    --primary-dark: #107977;
    --font-light: #d3cfcf;
    --font-dark: #242323;
    --bg-light: #f8f8ff;
    --bg-dark: #141414;
    --btn-font: #f3f3f3;
}
::selection {
    background-color: var(--primary);
}
body {
    min-height: 100vh;
    min-width: 100%;
    background: var(--bg-light);
    cursor: default;
}
a:visited {
    color: var(--font-dark);
}
a:hover {
    color: var(--primary);
}
/*////////// NAVBAR START //////////*/
nav .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 77rem;
    margin: 0 auto;
    padding: .15rem;
}
nav .logo,
nav ul {
    animation: 1s fadeInOnLoad ease-in;
}
@keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
nav .logo {
    display: flex;
    align-items: center;
    width: 100%;
}
nav .logo img {
    position: relative;
    top: .5rem;
    left: 1.5rem;
    width: 13rem;
    height: 100%;
    max-width: 100%;
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li {
    margin: 0 1rem 0 4rem;
}
nav ul li a {
    text-decoration: none;
    font-size: clamp(.9rem, 4vw, 1.025rem);
    letter-spacing: .5px;
    text-transform: capitalize;
    color: var(--font-dark);
    transition: 250ms all ease;
}
nav a:focus {
    outline: var(--primary) 2px solid;
    padding: .25rem;
}
nav a:focus:not(:focus-visible) {
    outline: none;
    padding: 0;
}
.wrapper.active .drop-down-menu .bars {
    background-color: transparent;
}
.wrapper.active .bars:before {
    transform: translateY(0) rotate(-45deg);
}
.wrapper.active .bars::after {
    transform: translateY(0) rotate(45deg);
}
.drop-down-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 2rem;
    width: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
}
.drop-down-menu .bars {
    height: 3px;
    width: 100%;
    position: relative;
    background-color: var(--primary);
    border-radius: 5px;
    margin-top: 1.5rem;
    transition: 400ms;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    border-radius: 5px;
    transition: 400ms;
}
.bars::before {
    transform: translateY(-8px);
}
.bars::after {
    transform: translateY(8px);
}
/*////////// NAVBAR END //////////*/

/*////////// MAIN START //////////*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
main .container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    max-width: 58rem;
    margin: 40px auto;
    animation: card ease-in 750ms;
}
@keyframes card {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
main .container .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    max-width: 25rem;
    transition: 400ms ease all;
    text-align: center;
    color: var(--btn-font);
    background-color: var(--primary);
    animation: card 750ms ease-in;
}
main .container .card:hover {
    transform: translateY(-1rem);
}
@keyframes card {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
main .container .card header h3 {
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: clamp(1.3rem, 4vw, 1.5rem);
    opacity: 90%;
}
main .container .card header h4 {
    text-transform: uppercase;
    letter-spacing: .25px;
    font-size: clamp(.95rem, 4vw, 1.1rem);
    opacity: 90%;
}
main .container .card header p {
    text-transform: capitalize;
    font-size: clamp(.95rem, 4vw, 1rem);
    opacity: 90%;
}
main .container .card .pricing h4 {
    font-size: clamp(1.9rem, 4vw, 2.4rem);
    margin: 1.75rem 2.5rem 1.75rem 2.5rem;
    opacity: 95%;
}
main .container .card .pricing h4 span {
    text-transform: capitalize;
    font-size: clamp(1rem, 4vw, 1.3rem);
    position: relative;
    bottom: .2rem;
}
main .container .card .services h4 {
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: clamp(1rem, 4vw, 1.1rem);
    opacity: 90%;
}
main .container .card .services ul {
    margin: 1rem 0 0 0;
    line-height: 1.4;
}
main .container .card .services ul li {
    text-align: left;
    list-style: none;
    font-size: clamp(.8rem, 4vw, .9rem);
    text-transform: capitalize;
    opacity: 95%;
}
main .container .card .services ul li i {
    position: relative;
    margin: .35rem 1rem 0 0;
}
main .container .card .services ul li span {
    position: relative;
    right: .35rem;
}
main .container .card .contact {
    margin: 1.2rem 0 0 0;
}
main .container .card .contact a {
    background-color: var(--btn-font);
    color: var(--font-dark);
    text-transform: capitalize;
    font-size: clamp(.85rem, 4vw, .95rem);
    text-decoration: none;
    padding: .2rem;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 0 7px 12px 1px rgba(0, 0, 0, .3);
}
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: var(--primary);
    text-transform: capitalize;
    letter-spacing: .5px;
}
footer h4 {
    color: var(--btn-font);
    opacity: 95%;
    font-weight: 400;
    font-size: clamp(.85rem, 4vw, .95rem);
}
/*////////// MAIN END //////////*/

/*////////// MEDIA QUERY'S START //////////*/
@media screen and (max-width: 280px) {
    nav .logo img {
        width: 85%;
        left: 2.3rem;
    }
}
@media screen and (max-width: 996px) {
    .no-scroll {
        overflow-y: hidden;
    }
    @keyframes fadeInOnLoad {
        0% {
            opacity: 1;
        }
    }
    .wrapper.active .links {
        transform: translateY(0);
    }
    nav .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 4rem;
    }
    nav .container .links {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: var(--primary);
        transform: translateY(-100%);
        transition: 500ms;
        z-index: 5;
    }
    nav .links ul {
        flex-direction: column;
    }
    nav .container .links ul li {
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding: 2.5rem;
    }
    nav .links ul li a {
        color: var(--btn-font);
    }
    .drop-down-menu {
        display: flex;
        position: absolute;
        right: 87%;
    }
    .wrapper.active .bars::before,
    .wrapper.active .bars::after {
        background-color: var(--btn-font);
    }
    main .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        max-width: 58rem;
    }
    main .container .card:nth-child(3) {
        margin-bottom: .75rem;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1180px) {
    main .container {
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        position: absolute;
        bottom: 0;
    }
}
@media screen and (orientation: landscape) and (max-width: 654px ) {
    nav .container .links ul li {
        padding: .85rem;
    }
    .right-section img {
        width: 85%;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}
@media screen and (orientation: landscape) and (min-width: 655px ) and (max-width: 1180px) {
    nav .container .links ul li {
        padding: 1.5rem;
    }
    .right-section img {
        width: 75%;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}
/*////////// MEDIA QUERY'S END //////////*/

/*////////// DARK MODE MEDIA QUERY'S START //////////*/
@media screen and (max-width: 996px) and (prefers-color-scheme: dark) {
    nav .container .links {
        background-color: var(--primary-dark);
    }
}
/*////////// DARK MODE MEDIA QUERY'S END //////////*/

/*////////// DARK MODE COLOR SCHEME START //////////*/
@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--bg-dark);
    }
    a:visited {
        color: var(--font-light);
    }
    nav .links ul li a {
        color: var(--font-light);
    }
    nav .links ul li a:hover {
        color: var(--primary);
    }
    main .container .card {
        background-color: var(--primary-dark);
    }
    main .container .card header h3,
    main .container .card header h4,
    main .container .card header p,
    main .container .card .pricing h4,
    main .container .card .pricing h4 span,
    main .container .card .services h4 {
        opacity: 85%;
    }
    main .container .card .services ul li {
        opacity: 90%;
    }
    footer {
        background-color: var(--primary-dark);
    }
}
/*////////// DARK MODE COLOR SCHEME END //////////*/