@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root {
    --primary: #1aa5a3;
    --primary-dark: #107977;
    --font-light: #d3cfcf;
    --font-dark: #242323;
    --bg-light: #f8f8ff;
    --bg-dark: #141414;
    --btn-font: #f3f3f3;
    --btn-bg: #14918f;
}
::selection {
    background-color: var(--primary);
}
body {
    min-height: 100vh;
    width: 100%;
    background: var(--bg-light);
    cursor: default;
}
a:visited {
    color: var(--font-dark);
}
a:hover {
    color: var(--primary);
}
img {
    text-transform: capitalize;
    letter-spacing: .5px;
    color: var(--primary);
}
/*////////// NAVBAR START //////////*/
nav .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 77rem;
    margin: 0 auto;
    padding: .15rem;
}
nav .logo,
nav ul {
    animation: 1s fadeInOnLoad ease-in;
}
@keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
nav .logo {
    display: flex;
    align-items: center;
    width: 100%;
}
nav .logo img {
    position: relative;
    top: .5rem;
    left: 1.5rem;
    height: 100%;
    width: 13rem;
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li {
    margin: 0 1rem 0 4rem;
}
nav ul li a {
    text-decoration: none;
    font-size: clamp(.9rem, 4vw, 1.025rem);
    letter-spacing: .5px;
    text-transform: capitalize;
    color: var(--font-dark);
    transition: 250ms all ease;
}
nav a:focus {
    outline: var(--primary) 2px solid;
    padding: .25rem;
}
nav a:focus:not(:focus-visible) {
    outline: none;
    padding: 0;
}
.wrapper.active .drop-down-menu .bars {
    background-color: transparent;
}
.wrapper.active .bars:before {
    transform: translateY(0) rotate(-45deg);
}
.wrapper.active .bars::after {
    transform: translateY(0) rotate(45deg);
}
.drop-down-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 2rem;
    width: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
}
.drop-down-menu .bars {
    height: 3px;
    width: 100%;
    position: relative;
    background-color: var(--primary);
    border-radius: 5px;
    transition: 400ms;
    margin-top: 1.5rem;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    border-radius: 5px;
    transition: 400ms;
}
.bars::before {
    transform: translateY(-8px);
}
.bars::after {
    transform: translateY(8px);
}
/*////////// NAVBAR END //////////*/

/*////////// MAIN START //////////*/
.main-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.left-section {  
    animation: leftSection 850ms ease-in;
}
@keyframes leftSection {
    0% {
        opacity: 0;
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.left-section header {
    margin: 6.25rem 0 5rem 3rem;
    text-transform: capitalize;
}
.left-section header h2,
.left-section header span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    letter-spacing: 1px;
    line-height: 1.3;
    color: var(--font-dark);
}
.left-section p {
    font-size: clamp(1rem, 4vw, 1.1rem);
    margin-top: .25rem;
    line-height: 1.5;
    letter-spacing: .5px;
    color: var(--font-dark);
}
.left-section .btn {
    display: inline-block;
    padding: .5rem;
    background: var(--primary);
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .7);
    transition: 350ms ease all;
}
.left-section .btn a {
    text-decoration: none;
    color: var(--btn-font);
    font-size: clamp(.8rem, 3vw, 1rem);
    text-transform: uppercase;
}
.left-section .btn:hover {
    background: var(--primary-dark);
    cursor: pointer;
}
.left-section .btn a:focus-visible {
    outline: var(--bg-dark) 2px solid;
    padding: .25rem;
}
.left-section .btn a:focus:not(:focus-visible){
    outline: none;
}
.right-section img {
    object-fit: contain;
    margin: 15px auto;
    width: 62vw;
    animation: rightSection 850ms ease-in;
}
@keyframes rightSection {
    0% {
        opacity: 0;
        transform: translateX(-3%);
    }
    100% {
        opacity: 1;
    }
}
/*////////// MAIN END //////////*/

/*////////// MEDIA QUERY'S START //////////*/
@media screen and (max-width: 280px) {
    nav .logo img {
        width: 85%;
        left: 2.3rem;
    }
}
@media screen and (max-width: 996px) {
    .no-scroll {
        overflow-y: hidden;
    }
    @keyframes fadeInOnLoad {
        0% {
            opacity: 1;
        }
    }
    .wrapper.active .links {
        transform: translateY(0);
    }
    nav .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 4rem;
    }
    nav .container .links {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: var(--primary);
        transform: translateY(-150%);
        transition: 500ms;
        z-index: 5;
    }
    nav .links ul {
        flex-direction: column;
    }
    nav .container .links ul li {
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding: 2.5rem;
    }
    nav .links ul li a {
        color: var(--btn-font);
    }
    .drop-down-menu {
        display: flex;
        position: absolute;
        right: 87%;
    }
    .wrapper.active .bars::before,
    .wrapper.active .bars::after {
        background-color: var(--btn-font);
    }
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .main-container .left-section header {
        margin: 75px auto;
        max-width: 87%;
    }
    .main-container .left-section p {
        margin: 1rem;
    }
    .right-section img {
        width: 95%;
    }
    @keyframes rightSection {
        0% {
            opacity: 0;
            transform: translateY(-3%);
        }
        100% {
            opacity: 1;
        }
    }
}
@media screen and (orientation: landscape) and (max-width: 654px ) {
    nav .container .links ul li {
        padding: .85rem;
    }
    .right-section img {
        width: 85%;
    }
}
@media screen and (orientation: landscape) and (min-width: 655px ) and (max-width: 916px) {
    nav .container .links ul li {
        padding: 1.5rem;
    }
    .right-section img {
        width: 75%;
    }
}
/*////////// MEDIA QUERY'S END //////////*/

/*////////// DARK MODE MEDIA QUERY'S START //////////*/
@media screen and (max-width: 996px) and (prefers-color-scheme: dark) {
    nav .container .links {
        background-color: var(--primary-dark);
    }
}
/*////////// DARK MODE MEDIA QUERY'S END //////////*/

/*////////// DARK MODE COLOR SCHEME START //////////*/
@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--bg-dark);
    }
    a:visited {
        color: var(--font-light);
    }
    nav .links ul li a {
        color: var(--font-light);
    }
    nav .links ul li a:hover {
        color: var(--primary);
    }
    .left-section header h2,
    .left-section header span,
    .left-section header p{
        color: var(--font-light);
        opacity: 95%;
    }
    .left-section .btn {
        opacity: 90%;
    }
    .left-section .btn a {
        color: var(--btn-font);
    }
    .right-section img {
        opacity: 95%;
    }
}
/*////////// DARK MODE COLOR SCHEME END //////////*/